/* prompt */
.bwindow.b-prompt .b-body {
    padding: 10px;
}

.bwindow.b-prompt .b-body label {
    display: table;
    margin: 0 auto;
    padding: 10px;
    overflow: auto;
}

.bwindow.b-prompt .b-body span {
    display: table-cell;
    padding: 9px;
}
.bwindow.b-prompt .b-body span:first-child {
    text-align: right;
    font-weight: bold;
}

.bwindow.b-prompt .b-body input {
    padding: 8px;
    border: 1px solid #ccc;
}

.bwindow.b-prompt .b-body input:focus {
    border: 1px solid #1ae;
}

.bwindow.b-prompt .b-body p {
    margin: 0;
    padding: 10px;
    color: #444;
}

/* image */
.bwindow.b-image {
    border: 0;
    box-shadow: 0 0 60px black;
}
.bwindow-overlay.b-image {
    /*opacity: 0.7;
    filter: alpha(opacity=70);*/
}
.bwindow.b-image .b-header {
    display: none;
    border: 0;
    background: transparent;
}
.bwindow.b-image .b-header .b-title {
    padding-left: 0;
    color: #eee;
    text-shadow: 0 1px 0 black;
}
.bwindow.b-image .b-header .b-toolbar {
    margin-right: 0;
}
.bwindow.b-image .b-header .b-close {
    cursor: pointer;
}
.bwindow.b-image .b-body {
    padding: 1px;
    background: #fff;
}
.bwindow.b-image .b-body > img {
    display: block;
    border: 0;
}
.bwindow.b-image .b-body > .loading {
    width: 40px;
    height: 40px;
    background-color: #333;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}
.bwindow-image-title {
    display: inline-block;
    position: absolute;
    left: 0; top: 0;
    margin: 5px;
    padding: 5px 10px;
    font-size: 16px;
    color: #fff;
    text-shadow: 0 0 2px black;
    transition: opacity 1s;
    background: #000;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    filter: alpha(opacity=0);
}
.bwindow-image-title.small-image {
    position: fixed;
    right: 0;
    margin: 0;
    padding: 8px 0;
    text-align: center;
    background: #333;
    background-image: linear-gradient(to bottom, #444, #222);
    box-shadow: 0 0 60px black;
    opacity: 1;
    filter: alpha(opacity=100);
}
.bwindow.b-image .b-body:hover .bwindow-image-title {
    opacity: 1;
    filter: alpha(opacity=100);
}

@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}
@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}
